.grid-container {
	display: grid;
    height: 100vh;
    align-content: center;
    justify-content: center;
    /* justify-items: center;
    align-items: center; */
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 100px 100px 100px 100px;
	/* grid-template-areas:
		'. hi hi'
		'hello hello .' '. . .' 'btn btn btn'; */
}

.grid-item {
	background-color: pink;
	border: 1px black solid;
	margin: 1px;
}
.grid-item-1 {
	background-color: pink;
	border: 1px black solid;
	margin: 1px;
}
.grid-item-2 {
	background-color: pink;
	border: 1px black solid;
	margin: 1px;
	/* grid-area: hi; */
	grid-column: 2 / -1;
}
.grid-item-3 {
	background-color: pink;
	border: 1px black solid;
	margin: 1px;
	/* grid-area: hello; */
	grid-column: 1 / 3;
}
.grid-item-btn {
	background-color: pink;
	border: 1px black solid;
	margin: 1px;
	/* grid-area: btn; */
	grid-column: 1 / -1;
}
